<%- include('../templates/header') %>
<p><b>ID: </b><%= data.id %></p>
<p><b>Nombre: </b><%= data.firstName %></p>
<p><b>Apellidos: </b><%= data.lastName %></p>
<p><b>Edad: </b><%= data.age %></p>
<a href="/test">Regresar a la lista</a>
<%- include('../templates/footer') %>